.skill_box {
    width: 90%;
    max-width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    border: 2px solid #D465EF;
    text-align: center;
    color: #D465EF;
    font-size: 50px;
}

.skill_box h2 {
    font-size: 1.5rem;
    color: #001D38;
    height: 100px;
}

.skill_box p {
    font-size: 1.5rem;
    color: #616161;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@media screen and (max-width : 1400px) {
    .skill_box {
        max-width: 350px;
        height: 250px;
    }
}

@media screen and (max-width : 800px) {
    .skill_box {
        max-width: 280px;
        height: auto;
    }
    .skill_box h2 {
        height: auto;
    }
}