.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about img {
    width: 100%;
}

.about h2 {
    font-size: 35px;
}

.aboutinfo {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutinfo div {
    width: 50%;
    height: auto;
}

.aboutinfo div p {
    font-weight: 500;
}

.aboutinfo button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 17px;
    opacity: 0.8;
}

.aboutinfo button:hover {
    opacity: 1;
}
