#about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about_pic {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    padding: 10px;
}

#about_pic_img {
    width: 400px;
    height: 400px;
    background-image: url("../Images/IMG_20231204_001041.jpg");
    background-size: cover;
    background-position: 0 -70px;
    z-index: 10;
}

#color_grid {
    position: absolute;
    width: 300px;
    height: auto;
    top: 25vh;
    right: 35vh;
}

#about_info {
    width: 500px;
    height: 400px;
    z-index: 10;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#about_info h1 {
    font-size: 40px;
    margin: 30px 0px;
}

#about_info p {
    font-size: 18px;
    margin: 10px 30px;
}

#about_info button {
    width: 150px;
    height: 45px;
    background-color: #615CFD;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    font-size: 16px;
    margin: 20px 30px;
}

@media screen and (max-width : 1000px) {
    #about {
        flex-direction: column;
    }
    #about_pic {
        width: 100vw;
        max-width: 500px;
        height: 50vh;
        padding: 0;
    }
    #about_pic_img {
        width: 100%;
        height: 100%;
    }
    #color_grid {
        right: 0;
        top: 40vh;
    }
    #about_info {
        width: 100%;
        max-width: 500px;
    }
    #about_info h1 {
        margin: 30px 10px;
    }
}