.skill_box {
    width: 90%;
    max-width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    border: 2px solid #D465EF;
    text-align: center;
    color: #D465EF;
    font-size: 50px;
}

.skill_box h2 {
    font-size: 1.8rem;
    color: #001D38;
    height: 100px;
}

.skill_box p {
    font-size: 1.3rem;
    color: #888;
}